@charset "UTF-8";
#box{background:url('../images/4.jpg') center/cover;color:white;font-size: 20px;position: relative;overflow: hidden;-webkit-user-select:none;height: 666px;width: 100%}
#boxon{width: 100%;height: 100%;background: black;opacity: 0.2}
#navigation{width: 100%;margin: 0 auto;color: white;font-family: '黑体';background:;}
#navigation2{width: 100%;margin: 0 auto;color: black;font-family: '黑体';background: white;opacity: 0.5;display: none;position: fixed;top: 0;z-index: 1}
#navigation>ul{width: 100%}
#navigation2>ul{width: 100%}
.title{width: 1000px; color: white;font-size: 35px;font-family: 'YouYuan';margin: 20px 0px 0px 0px;display: inline-block;opacity: 0;}
.title1{width: 1000px; color: white;font-size: 35px;font-family: 'YouYuan';margin: 20px 0px 0px 0px;display: inline-block;}
.clearfix>li{float: right;margin:20px 50px ;}
.clearfix>p{float: left;margin: 5px 10px 0;font-size: 30px;}.clearfix>p>i{position: absolute;top: 13px;left: 75px;}
.clearfix>p>img{position:absolute;}
.fontcolor{color: #E76D32}
#navigation a{color: white;}#navigation a:hover{color: red;}
#navigation2 a{color: black;}#navigation2 a:hover{color: red;}

#box2{width: 100%;position: relative;height: 1000px;
background:url(../images/10.png) no-repeat 1059px 33px;/*right: -100px;*/text-align: center;background-size: 300px 800px;}
.swiper-container{width:1000px;height:500px;margin: auto;}
            .swiper-slide{height:500px;text-align:center;font-size:30px;margin:auto;}


            .my-swiper{}
h1{margin: 50px;border-bottom: 5px solid black;width: 1232px;text-align: left;}
#box2 p{font-family: "微软雅黑" ;font-size: 600px;width: 1000px;text-align: left;margin: 0 0 0 100px}
