@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-09-12 08:35:45
 * @version $Id$
 */
 #box{background: ;margin: 50px auto;display: block;border:5px solid #F2DE18;border-radius: 8px}
.tip{width: 200px;height: 100px;background: #0EEEBE;position: absolute;top:150px;left: 569px;border-radius: 8px;color: red;font-size: 30px;text-align: center;line-height: 60px;display: none}
.restart{position: absolute;top: 55px;left:65px;font-size: 20px;color:white;height: 40px;line-height:40px;cursor: pointer;}